
<div class="detail etable-detail">
 <div class="wrokflow-simulate" *ngIf="showWorkflowSimulator">
        <span class="arrow_box">Workflow Simulator</span>
        <button pButton pRipple type="button" icon="pi pi-cog" class="p-button-rounded wrokflow-simulate-btn"  [fitContent]="false"  (click)="openWorkflowSimilator()"></button>
    </div>
   <div id="title-bar">
    <div class="display">
        <div class="col" class="page-title-bar" *ngIf="(isMobile && !isSearchFocused) || !isMobile">
            <!-- <span class="pi pi-arrow-left back-action"></span> -->
            <span class="page-title" [innerHTML]="pageViewTitle | translate"></span>
        </div>
        <div class="w-100"  *ngIf="showBreadcrumb"> <app-breadcrumb></app-breadcrumb></div>
        <app-action-bar [buttons] = "leftActionBarConfig.children"
(onBtnClick)='actionBarAction($event)'
[style.order]="isMobile?'1':'0'"
[isRowSelected]="isRowSelected" [isChildListpage]="isChildPage"
[isListPage]="isList" [detailConditionalButtons]="conditionalActions">
</app-action-bar><app-workflow-action-bar [buttons] = "workflowActionBarConfig.children"
(onBtnClick)='workflowActionBarAction($event)'
[workflow]="workflowActions"
[style.order]="isMobile?'1':'0'" [style.overflow]="'hidden'">
</app-workflow-action-bar>
    </div>
</div><ul class="nav  caption-bar" *ngIf="detailCaptionBarConfig?.children?.length > 0 && data.sid" [ngStyle]="{width: detailCaptionBarConfig.width, 'justify-content':detailCaptionBarConfig.align}" id="caption-bar">
        <li class="nav-item" *ngFor="let captionItem of detailCaptionBarConfig.children" [style.display]="((captionItem.showOn =='mobile_only' && isMobile) || (captionItem.showOn =='desktop_only' && !isMobile) || (captionItem.showOn =='both')||(!captionItem.showOn))?'block':'none'">
            <div class="card" *ngIf="data && formatCaptionItems(captionItem,data)">
                <div class="card-body">
                   <h5 class="card-title" >{{captionItem.label | translate}}</h5>
                          <div *ngIf="!captionItem.render" class="card-sub-title" [innerHTML]="data && formatCaptionItems(captionItem,data)">
                         </div>
                    <div *ngIf="captionItem.render" class="card-sub-title">
                        <div [innerHtml]="captionItem.render(captionItem)"></div>
                    </div>
                </div>
            </div>
        </li>
    </ul><div class="ev-detail-view" id="detail-view-container">
    <div class="detail-flex-box">
        <div class="flex align-items-center justify-content-center wizard-container col-2" *ngIf="wizardItems?.length && showScrollSpy" id="detail-wizard">
            <p-tieredMenu #menu [model]="wizardItems"></p-tieredMenu>
        </div>
        <div class="flex align-items-center justify-content-center form-container">
            <form class="ev-form " [formGroup]="detailFormControls" #detailForm [ngClass]="{'read-only-fields':enableReadOnly}">
                <div class="row form-body">
                    <div class="form-row vg-col-2">
                        <div class="form-col" [hidden]="hiddenFields.one" id="one">
        <div class="field-row"
                [ngClass]="{'required': formFieldConfig?.one?.isRequired, 'error':inValidFields.one}">
                <label for="one" class="col-form-label one-label"
                        [textContent]="'ONE'|translate"></label>
                <span class="info-bubble" *ngIf="formFieldConfig?.one?.infoBubble"
                        [pTooltip]="formFieldConfig?.one?.infoBubble || ''"><i
                                class="fa fa-circle-info"></i></span>
                 <span class="warning-bubble" *ngIf="calculationError?.one">
                        <i class="pi pi-exclamation-triangle"></i>
                        <span class="warning-text">{{'CALCULATION_ERROR' | translate}}</span>
                </span>
                <p-inputNumber class="form-input" formControlName="one"
                        [placeholder]="formFieldConfig?.one?.placeHolder || ''"
                        [showButtons]="formFieldConfig?.one?.showButtons"
                                               [suffix]="(formFieldConfig?.one?.suffix)?(' '+((formFieldConfig?.one?.suffix)?.trim())):''"
                        [prefix]="(formFieldConfig?.one?.prefix)? ((formFieldConfig?.one?.prefix)?.trim())+ ' ':''"
                        [min]="formFieldConfig?.one?.minVal"
                        [max]="formFieldConfig?.one?.maxVal"
                        [useGrouping]="formFieldConfig?.one?.useGrouping"
                        [locale]="defaultLocale"></p-inputNumber>
                <div class="fst-italic fs-5 help-text">{{formFieldConfig?.one?.helpText ||
                        ''}}</div>
        </div>
</div><div class="form-col" [hidden]="hiddenFields.two" id="two">
    <div class="field-row"  [ngClass]="{'required': formFieldConfig?.two?.isRequired, 'error':inValidFields.two}">
        <label for="two" class="col-form-label two-label" [textContent]=" 'TWO'|translate "></label>
        <span class="info-bubble" *ngIf="formFieldConfig?.two?.infoBubble"   [pTooltip]="formFieldConfig?.two?.infoBubble || ''"><i class="fa fa-circle-info"></i></span>
        <input type="text" pInputText class="form-control" formControlName="two" [placeholder]="formFieldConfig?.two?.placeHolder || ''"
[maxlength]="formFieldConfig?.two?.maxLength" />
        <div class="fst-italic fs-5 help-text">{{formFieldConfig?.two?.helpText || ''}}</div>
    </div>
</div><div class="form-col" [hidden]="hiddenFields.three" id="three">
    <div class="field-row"  [ngClass]="{'required': formFieldConfig?.three?.isRequired, 'error':inValidFields.three}">
        <label for="three" class="col-form-label three-label" [textContent]=" 'THREE'|translate "></label>
        <span class="info-bubble" *ngIf="formFieldConfig?.three?.infoBubble"   [pTooltip]="formFieldConfig?.three?.infoBubble || ''"><i class="fa fa-circle-info"></i></span>
        <input type="text" pInputText class="form-control" formControlName="three" [placeholder]="formFieldConfig?.three?.placeHolder || ''"
[maxlength]="formFieldConfig?.three?.maxLength" />
        <div class="fst-italic fs-5 help-text">{{formFieldConfig?.three?.helpText || ''}}</div>
    </div>
</div>
                    </div>
                </div>
        </form>
        </div>
    </div>
</div>
</div>
